POSTGRES_DB=movies_database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=secret
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

ELASTIC_HOST=http://elasticsearch:9200
ELASTIC_INDEX=movies

STATE_FILE=/app/state/state.json
LOG_LEVEL=INFO
ETL_CHUNK_SIZE=500
ETL_POLL_INTERVAL=5
