PROJECT_NAME=movies
REDIS_HOST=redis 
REDIS_PORT=6379
ELASTIC_HOST=elasticsearch
ELASTIC_PORT=9200
ELASTIC_FILM_INDEX=movies
ELASTIC_GENRE_INDEX=genres
ELASTIC_PERSON_INDEX=persons

CACHE_EXPIRE=600
ALLOW_HOSTS = localhost,127.0.0.1
ORIGINS = http://localhost,http://127.0.0.1
